@import ../base/variables
@import ../base/mixins
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap')
@import url('https://fonts.cdnfonts.com/css/proxima-nova-2')
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap')

html
  box-sizing: border-box
  font-family: $font-stack
  font-size: 16px

*, *::before, *::after
  box-sizing: inherit

html, body
  margin: 0
  padding: 0
  background-color: $base-light

#page-container
  position: relative
  min-height: 100vh

header
  @include grid(1fr 3fr 1fr, 1fr, $justify-items: center, $align-items: center)
  position: sticky
  top: 0
  left: 0
  width: 100%
  height: 110px
  background: $base-dark
  z-index: 99

#home-link
  font-weight: bold
  font-size: 2.5rem
  color: $accent
  text-decoration: none
  place-self: start
  align-self: center
  margin-left: 25px

.btn-add-entity
  @include button($font-size: 1rem)
  display: block
  margin: 50px auto 25px auto
  text-decoration: none
  width: fit-content

nav
  @include flex-box(space-around, center, center)
  width: clamp(60%, 400px, 100%)
  font-size: 1.5rem

  a
    color: $white
    text-decoration: none
    @include transition(color 300ms ease)

    &:hover
      color: $accent

#logout
  font-size: 1.5rem
  color: $white
  text-decoration: none
  @include transition(color 300ms ease)

  &:hover
    color: $accent

.section-title
  color: $white
  margin: 15px auto
  text-align: center
  font-size: 3rem

  &::after
    content: ''
    width: clamp(40vw, 400px, 95vw)
    height: 1px
    background-color: $white
    display: block
    margin: auto

main
  padding-bottom: $footer-height

footer
  position: absolute
  bottom: 0
  width: 100%
  height: $footer-height
  background: $base-dark
