{% extends "base.html" %}
{% from "macros.html" import event_card %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/css/components/events.css') }}">
{% endblock %}
{% block header %}
    {{ super() }}
{% endblock %}
{% block navbar %}
    <a href="{{ url_for('department.home', dep=department.name) }}">Home</a>
    <a href="{{ url_for('department.events', dep=department.name) }}">Events</a>
    <a href="{{ url_for('department.faculty', dep=department.name) }}">Faculty</a>
    <a href="{{ url_for('department.about', dep=department.name) }}">About</a>
{% endblock %}
